if ARCH_ARMADA370

config ARMADA_370
	bool "Armada-370 SoC Family"
#	select ARMADA_XP_DEEP_IDLE_UNMASK_INTS_WA
	select SHEEVA_ERRATA_ARM_CPU_5114 if (CPU_V6)
	select SHEEVA_ERRATA_ARM_CPU_4742
	select SHEEVA_ERRATA_ARM_CPU_4659
	select SHEEVA_ERRATA_ARM_CPU_4611
	select MACH_ARMADA_370
	default y

endif
